.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14.5px 50px;
  background: #8a33fd;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  border-radius: 8px;
  font-size: 16px;
  border-color: transparent;
  text-transform: uppercase;
  transition: all .25s linear;

  &--outline {
    border: 1px solid #3C4242;
    background: #fff;
    &, &:visited {
      color: #8a33fd;
    }
  }

  &, &:visited {
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(2px);
  }
}